input[type="file"] {
    display: none;
}

.fileUpload {
    border-radius: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 3rem;
    cursor: pointer;
}

.label {
    color: var(--primary);
    margin-bottom: 0.3rem;
}

.imageViewer {
    width: 100%;
    border: 1px solid var(--primary);
    display: grid;
    max-height: 20rem;
    overflow-y: scroll;
    grid-template-columns: repeat(2, 1fr)
}

.uploadedImage {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .label {
        font-size: 1.5rem;
    }
}