.homeContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.welcomeSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.underline {
    margin-left: auto;
    width: 10rem;
    height: 0.3rem;
    background-color: var(--primary);
}

.buttonsSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button1, .button2 {
    border: 1px solid var(--primary);
    border-radius: 0.75rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.button1:hover, .button2:hover {
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}

.button1 {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {  
    .homeContainer {
        height: calc(100vh - 6rem);
        flex-direction: row;
    }

    .welcomeSection {
        font-size: 8rem;
    }

    .underline {
        width: 20rem;
        height: 0.5rem;
    }

    .button1, .button2 {
        width: 24rem;
        border-radius: 1rem;
        padding: 2rem;
        font-size: 2rem;
    }

    .button1 {
        margin-bottom: 2rem;
    }
}
