.header {
    color: var(--primary);
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
}

.logo {
    background-image: url("../../../public/images/sewing-machine.png");
    background-size: cover;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 1024px) {  
    .header {
       height: 6rem; 
       font-size: 3rem;
    }

    .logo {
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
    }
}